<launch>
  <include file="$(find hotaru_planner_node_teb)/launch/hotaru_planner_teb.launch">
  </include>
  <node type="hotaru_tester.py" name="hotaru_tester" pkg="hotaru_node_elements" output="screen">
  	<param name="test_case_path" value="$(find hotaru_planner_node_teb)/basic-test-cases/obstacle-test.json" output="screen"/>
  </node>
  <node type="trajectory_visualizer.py" name="hotaru_trajectory_visualizer" pkg="hotaru_node_elements">
  	
  </node>
</launch>