<launch>
  <include file="$(find hotaru_planner_node_teb)/launch/hotaru_planner_teb.launch">
  </include>
  <node type="hotaru_tester.py" name="hotaru_tester" pkg="hotaru_node_elements" output="screen">
  	<param name="test_case_path" value="$(find hotaru_planner_node_teb)/basic-test-cases/obstacle-test.json" output="screen"/>
  	<remap from="input_trajectory" to="hotaru_teb_1/input_trajectory" />
  	<remap from="refined_trajectory" to="hotaru_teb_1/refined_trajectory" />
  </node>
  <node type="perception_visualization.py" name="perception_visualization" pkg="rei_perception_monitor">
  	
  </node>
  <node type="syncsignalmonitor.py" name="syncsignalmonitor" pkg="rei_sync_monitor" output="screen">
  	<param name="test_case_path" value="$(find hotaru_planner_node_teb)/basic-test-cases/obstacle-test.json" output="screen"/>
  </node>
</launch>